page-simulator {
    .row-header{
        text-align: center;
        font-weight: bold;
        border-bottom: 2px solid darkgray;
    }

    .row-center{
        text-align: center;
    }

    .limit-height{
        max-height: 580px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
